body{
    background: url("https://i.ytimg.com/vi/FpRbA2xT5ZI/maxresdefault.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.center-box{
    width:1000px;
    height:200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-left:50px;
    padding-top:15px;
}